.otp-input {
  border: 1px solid rgba(20, 107, 207, 0.314);
  width: 20px;
  height: 30px;
  text-align: center;
  border-radius: 5px;
}

.container {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
  padding: 24px;
}
