.sticky-container {
  position: relative;
}

.sticky-message {
  position: relative;
  width: 100px;
  height: 30px;
  background-color: yellow;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  overflow: scroll;
  cursor: grab;
}

button {
  background-color: rgb(226, 219, 219);
  transition: all 500ms ease-in-out;
}

button:hover {
  background-color: rgb(231, 14, 14);
  transform: rotateX("120");
}
